

body{

background-image: url("../public/background.png");
background-repeat: no-repeat;
background-size: cover;

}

.App {

  color: white;
display:flex;
justify-content: center;
}

.frame{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  margin: 70px;
  width: 700px;
  background-color: rgb(55, 32, 32);
  box-shadow: 1px 2px 20px rgb(255, 255, 255);


}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

table{
  table-layout: fixed;

  display: flex;
  flex-direction: column;
  justify-content: center;
align-content: center;
align-items: center;
margin: 20px;
}

.sadicon{

  width: 30px;
}

.del{
width: 30px;
}

thead{

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin: 20px;
}

td{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100px;
  text-align: center;
  padding: 10px;
  font-size: 10px;
}

.randombutton{

  
  box-shadow: 1px 1px 7px rgb(255, 255, 255);

  font-size: 15px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  padding: 10Px;
  margin: 15px;
  margin-bottom: 20px;
  width: 250px;
  background-color: rgb(62, 62, 62);}

th{
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  font-size: 20px;
}

.pics{

  width: 80px;
  box-shadow: 1px 2px 20px rgb(0, 0, 0);
  border-radius: 5px;

}

.icons{

  width: 40px;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
